// global styles 
$accentColor:rgb(248, 247, 245);
$darkAccent: #696969;
$mainLight: rgb(255, 255, 255);
$mainDark:rgb(0, 0, 0);
html {
    font-size: 62.5%;
    // color:$mainLight; 
}
body {
    font-family: 'Lato', sans-serif;
    font-size: 1.8rem;
}
img {
    max-width: 100%;
}
.wrapper {
    max-width: 1110px;
    margin: 0 auto;
}
.sectionWrapper {
    padding: 90px 0;
}
.visually-hidden {
	position: absolute !important;
	clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
	clip: rect(1px, 1px, 1px, 1px);
	padding:0 !important;
	border:0 !important;
	height: 1px !important; 
	width: 1px !important; 
	overflow: hidden;
}
h1 {
    font-size: 7.2rem;
    font-weight: 700;
    margin: 50px 0;
    z-index: 2;
}
h2 {
    font-size: 3.6rem;
    font-weight: 700;
}
h3{ 
    font-size: 3.2rem;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    margin: 0;
    position: relative;
    
}
p {
    font-size: 1.8rem;
    position: relative;
}
ul {
    list-style: none;
    padding: 0; 
}
a{
    text-decoration: none;
    color: $mainLight;
        &:visited {
            color:$mainLight; 
        }
        &:active {
            color:$mainLight;
        }
        &:hover {
        color:$mainDark; 
    } 
}

.title {
    h3::before {
        content: '';
        display: block;
        width: 30%;
        height:0px;
        border-width: 3px;
        border-style: solid;
        border-color: $mainDark transparent transparent;
        position: absolute;
        bottom: -35px;
        left: 50%;
        transform: translate(-50%);
    }
    p {
        width: 80%;
        text-align: center;
        margin: 0 auto;
        padding: 60px 0 50px 0;
    }
}
