//header styles
header {
    //background: grey;
    min-height: 100vh;
    color:$mainLight;
    background-image:linear-gradient(rgba(48, 47, 47, 0.5),rgba(48,47,47,0.5)), url('../assets/backdrop.jpg');
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    z-index: 0;
}
.headerNav {
    border-bottom: 1px solid white;
    z-index: 5;
}
.headerNav .wrapper {
    display: flex;
    justify-content: space-between;
    align-items:center;    
}
.headerNav ul {
    margin: 42px 0;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    li{ 
        padding-left: 15px;
        text-transform: uppercase;
        // position: relative; 
        &:hover {
        color:$mainDark;
        font-weight: 700;
        }
        a{
        text-decoration: none;
        }  
    }
}

//end of menu
.hero, .heroInfo {
    z-index: -1;
}
.heroInfo {
    margin: 0 auto;
    text-align: center;
    position: absolute;
    top:  50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    
    p {
        text-transform: uppercase;
        margin: 50px 0;
        
    }
    .btn {
        font-size: 1.6rem;
        // background: transparent;
        text-decoration: none;
        padding: 10px 20px;
        border: 1px solid $mainLight;
        
        &:visited {
            color:$mainLight; 
        }
        &:active {
            color:$mainLight;
        }
        &:hover {
        color:$mainDark;
        background: rgba(255, 255, 255, 0.778);
        }
        
    }
}
.navArrow {
    text-align: center;
    position: absolute;
    top:  90%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}

