//My Skills styling
.mySkills {
    background: $mainLight;
}
.mySkills ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    li {
        width: 31%;
        text-align: center;
        i {
            font-size: 4.4rem;
            border: 2px black solid;
            padding: 18px;
            border-radius: 10px 0px 10px 0px;
        }
        img {
            width: 65px;
            height: 65px;
            border: 2px black solid;
            padding: 10px;
            border-radius: 10px 0px 10px 0px;
        }
        p {
            font-size: 1.8rem;
            font-weight: 700;
            padding: 20px 0 35px 0;
        }
    }
}

// to do
//comeback fix extra space on bottom row