// portfolio styles
.portfolio {
    background: $accentColor;
}
.allProjects {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    a {
        width: 130px;
        color: $mainDark;
        border: 2px black solid;
        padding: 10px;
        border-radius: 10px 0px 10px 0px;
        text-align: center;
        margin: 15px 15px 0px 0px;
        &:hover {
            color: $mainLight;
            background: $mainDark;
        }
    }
}
.projectImg, .projectInfo {
    margin: 50px 0;
}
.projectInfo {
    width: 40%;
    justify-content: center;
    display: flex;
    flex-direction: column;
    img {
        width: 75px;
        height: 15px;
    }
    p {
        line-height: 26px;
    }
}
.projectLabel {
    font-size: 2.4rem;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 3px;
}
.projectImg {
    width: 55%;
}
