// portfolio styles
.allProjects {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.projectInfo {
    width: 30%;

}
.projectLabel {
    font-size: 2.4rem;
    font-weight: 700;
    text-transform: uppercase;
}
.projectImg {
    width: 60%;
    height: 350px; 
    
    background-size: cover;
    background-position: center;
    border: 2px black solid;
    border-radius: 10px 0px 10px 0px;
    margin-bottom: 50px;  
}
.soccer {
    background-image:url('../../dev/assets/soccer.jpg');
}
.boggler {
    background-image:url('../../dev/assets/boggler.jpg');
}
.crime {
    background-image:url('../../dev/assets/crime.jpg');
}
.psd {
    background-image:url('../../dev/assets/coursea.jpg');
}