// portfolio styles
.allProjects {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    a {
        width: 130px;
        color: $mainDark;
        border: 2px black solid;
        padding: 10px;
        border-radius: 10px 0px 10px 0px;
        text-align: center;
        margin: 15px 15px 0px 0px;
    }
}
.projectImg, .projectInfo {
    margin: 50px 0;
}
.projectInfo {
    width: 30%;
    justify-content: center;
    display: flex;
    flex-direction: column;
    img {
        width: 75px;
        height: 15px;
    }
}
.projectLabel {
    font-size: 2.4rem;
    font-weight: 700;
    text-transform: uppercase;
}
.projectImg {
    width: 60%;
}
